---
import { Bell, Search } from "lucide-react";

type Props = { storeName: string };
const { storeName } = Astro.props;
---

<header class="relative">
  <div
    id="Background"
    class="absolute top-0 w-full h-42.5 rounded-b-[45px] bg-primary-gradient"
  >
  </div>
  <div id="TopNav" class="relative flex flex-col px-5 mt-5 h-42.5">
    <div class="relative flex items-center justify-between">
      <div class="flex flex-col gap-1">
        <p class="text-white text-sm">Welcome To,</p>
        <h1 class="text-white font-semibold">{storeName}</h1>
      </div>
      <a
        href="#"
        class="w-12 h-12 flex items-center justify-center shrink-0 rounded-full overflow-hidden bg-white/20"
      >
        <Bell className="w-7 h-7" fill="#fff" stroke="#fff" />
      </a>
    </div>

    <h1 class="text-white font-semibold text-2xl leading-7.5 mt-5">
      Order Delicious Meal!
    </h1>

    <div class="absolute bottom-0 left-0 right-0 w-full gap-2 px-5">
      <label
        class="flex items-center w-full rounded-full p-2 gap-3 bg-input ring-1 ring-ring focus-within:ring-yellow-500 transition-all duration-300"
      >
        <Search className="w-8 h-8 flex shrink-0 text-primary" />
        <input
          type="text"
          name="search"
          id=""
          class="appearance-none outline-none w-full font-semibold placeholder:text-ngekos-grey placeholder:font-light"
          placeholder="Search menu, or etc..."
        />
      </label>
    </div>
  </div>
</header>
