---
import { cn } from "@workspace/ui/lib/utils";
const props = Astro.props;
---

<div
  class={cn(
    "flex flex-col w-full max-w-160 min-h-screen mx-auto overflow-x-hidden",
    props.class,
  )}
  {...props}
>
  <slot />
</div>
