---
import Container from "@/components/astro/container.astro";
import NavigationTop from "@/components/astro/navigation-top.astro";
import BlankLayout from "@/layouts/blank-layout.astro";
import ProductCart from "@/views/product/components/astro/product-cart.astro";

const response = {
  data: [
    {
      id: "1",
      store_id: "2",
      name: "Spicy Ramen Level 3",
      description: "Rich broth, spicy and tempting, with chashu topping",
      price: 45000,
      slug: "spicy-ramen-level-3",
      image:
        "https://ik.imagekit.io/dianerdiana/saas-food-menu/products/default/ramen.png",
      category: {
        id: "2",
        name: "Ramen",
        image: "",
        slug: "",
      },
      note: "",
    },
    {
      id: "2",
      store_id: "2",
      name: "Chicken Karaage",
      description: "Crispy Japanese-style fried chicken, served with a tangy",
      price: 48000,
      slug: "spicy-ramen-level-3",
      image:
        "https://ik.imagekit.io/dianerdiana/saas-food-menu/products/default/Fried%20Chicken%20High%20Angle%20Shot.png",
      category: {
        id: "2",
        name: "Chicken",
        image: "",
        slug: "",
      },
      note: "",
    },
  ],
};
---

<BlankLayout>
  <Container slot="header">
    <NavigationTop title="My Cart" backLink="/" />
  </Container>
  <Container slot={"main"}>
    <div id="Cart" class="flex flex-col gap-3 mt-4 px-5">
      {response.data.map((product) => <ProductCart product={product} />)}
    </div>

    <div
      class="fixed inset-x-0 bottom-0 max-w-160 z-50 bg-white shadow-sm mx-auto"
    >
      <div class="flex items-center justify-between p-5">
        <div class="flex flex-col gap-2">
          <p class="text-muted-foreground font-normal text-sm">Total Price</p>
          <p class="font-semibold text-lg" id="totalAmount">Rp 0</p>
        </div>

        <a
          href="/customer-information"
          type="button"
          class="flex justify-center rounded-full py-3.5 px-7 bg-primary font-normal text-white"
        >
          Checkout
        </a>
      </div>
    </div>
  </Container>
</BlankLayout>
