---
import BlankLayout from "@/layouts/blank-layout.astro";

import Container from "@/components/astro/container.astro";
import NavigationTop from "@/components/astro/navigation-top.astro";
import ProductCart from "@/views/product/components/astro/product-cart.astro";

const response = {
  data: [
    {
      id: "019bdf75-85b8-7239-9c40-ed696716c7cf",
      storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
      name: "Ayam Geprek",
      slug: "ayam-geprek",
      image: null,
      price: 10000,
      description: null,
      status: "ACTIVE",
      categories: [
        {
          id: "019be111-e281-761b-86c2-842bf90ef48e",
          storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
          name: "Chicken",
          slug: "chicken",
          image:
            "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/chicken.png",
          description: null,
          status: "ACTIVE",
        },
      ],
    },
    {
      id: "019bdf75-322b-7521-8328-bcaaacfa49b7",
      storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
      name: "Ramen",
      slug: "ramen",
      image: null,
      price: 10000,
      description: null,
      status: "ACTIVE",
      categories: [
        {
          id: "019be111-e282-7158-a5f5-1e7741eabd64",
          storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
          name: "Desert",
          slug: "desert",
          image:
            "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/desert.png",
          description: null,
          status: "ACTIVE",
        },
      ],
      note: "aaa",
    },
    {
      id: "019beabb-8453-749b-b78f-679f72168410",
      storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
      name: "Nano-Nano",
      slug: "nano-nano",
      image: null,
      price: 500,
      description: null,
      status: "ACTIVE",
      categories: [
        {
          id: "019be111-e282-7158-a5f5-1e7741eabd64",
          storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
          name: "Desert",
          slug: "desert",
          image:
            "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/desert.png",
          description: null,
          status: "ACTIVE",
        },
      ],
      note: "aaa",
    },
  ],
};
---

<BlankLayout>
  <main class="pb-32">
    <Container slot="header">
      <NavigationTop title="My Cart" backLink="/" />
      <div id="Cart" class="flex flex-col gap-3 mt-4 px-5">
        {response.data.map((product) => <ProductCart product={product} />)}
      </div>
    </Container>
  </main>

  <footer>
    <Container>
      <div
        class="fixed inset-x-0 bottom-0 max-w-160 z-50 bg-white shadow-sm mx-auto"
      >
        <div class="flex items-center justify-between py-4 px-5">
          <div class="flex flex-col gap-2">
            <p class="text-muted-foreground font-normal text-sm">Total Price</p>
            <p class="font-semibold text-lg" id="totalAmount">Rp 0</p>
          </div>

          <a
            href="/customer-information"
            class="font-normal py-2.5 px-10 rounded-full bg-primary text-white hover:bg-primary/80"
          >
            Checkout
          </a>
        </div>
      </div></Container
    >
  </footer>
</BlankLayout>
