---
import Container from "@/components/astro/container.astro";
import NavigationTop from "@/components/astro/navigation-top.astro";
import BlankLayout from "@/layouts/blank-layout.astro";
import { Button } from "@workspace/ui/components/button";
import { NotepadText, PhoneCall, UtensilsCrossed } from "lucide-react";
---

<BlankLayout>
  <Container slot={"header"}>
    <NavigationTop title="Customer Information" backLink="/" />
  </Container>
  <Container slot={"main"}>
    <div id="Items" class="relative flex flex-col px-5 mt-5">
      <div class="flex flex-col gap-4 mt-2.5">
        <div
          class="cart-item flex items-center rounded-xl border border-background p-3 gap-4 bg-white hover:bg-primary/20 hover:border hover:border-secondary transition-all duration-300"
        >
          <div class="overflow-hidden w-32 h-22">
            <img
              src="https://ik.imagekit.io/dianerdiana/saas-food-menu/products/default/Delicious%20Ramen%20Bowl.png?updatedAt=1765852917286"
              class="w-full h-full object-cover object-center rounded-xl aspect-auto"
              alt="icon"
            />
          </div>
          <div class="flex flex-col gap-1 w-full">
            <p class="text-secondary font-normal text-xs">Ramen</p>
            <h3 class="text-accent-foreground font-medium text-sm">
              Spicy Ramen Level 3
            </h3>

            <div class="flex items-center justify-between">
              <p class="text-destructive font-semibold text-sm">Rp 45.000</p>
            </div>
          </div>
          <span id="qty">x1</span>
        </div>
      </div>
    </div>

    <form action="/success" id="Form" method="POST">
      <div id="Informations" class="relative flex flex-col px-5">
        <div
          class="w-full flex flex-col rounded-xl border border-background p-5 gap-6 bg-white mt-6"
        >
          <input type="hidden" name="cart" id="cart-data" />
          <div id="InputContainer" class="flex flex-col gap-4.5">
            <div class="flex flex-col w-full gap-2">
              <p class="font-semibold">Name</p>
              <label
                class="flex items-center w-full rounded-xl border border-secondary/50 py-3.5 px-5 gap-3 bg-white ring-1 ring-primary/5 focus-within:ring-secondary focus-within:ring-opacity-100 transition-all duration-300"
              >
                <NotepadText className="stroke-primary" />
                <input
                  type="text"
                  name="name"
                  id=""
                  class="appearance-none outline-none w-full font-regular placeholder:text-ngekos-grey placeholder:font-light"
                  placeholder="Enter your name..."
                />
              </label>
            </div>

            <div class="flex flex-col w-full gap-2">
              <p class="font-semibold">Phone Number</p>
              <label
                class="flex items-center w-full rounded-xl border border-secondary/50 py-3.5 px-5 gap-3 bg-white ring-1 ring-primary/5 focus-within:ring-secondary focus-within:ring-opacity-100 transition-all duration-300"
              >
                <PhoneCall className="stroke-primary" />
                <input
                  type="text"
                  name="phone_number"
                  id=""
                  class="appearance-none outline-none w-full font-regular placeholder:text-ngekos-grey placeholder:font-light"
                  placeholder="Enter your phone number..."
                />
              </label>
            </div>

            <div class="flex flex-col w-full gap-2">
              <p class="font-semibold">Table Number</p>
              <label
                class="flex items-center w-full rounded-xl border border-secondary/50 py-3.5 px-5 gap-3 bg-white ring-1 ring-primary/5 focus-within:ring-secondary focus-within:ring-opacity-100 transition-all duration-300"
              >
                <UtensilsCrossed className="stroke-primary" />
                <input
                  type="text"
                  name="table_number"
                  id=""
                  class="appearance-none outline-none w-full font-regular placeholder:text-ngekos-grey placeholder:font-light"
                  placeholder="Enter your table number...."
                />
              </label>
            </div>
          </div>
        </div>
      </div>

      <div id="PaymentMethods" class="relative flex flex-col px-5">
        <div
          class="w-full flex flex-col rounded-xl border border-background p-5 gap-6 bg-white mt-6"
        >
          <div id="InputContainer" class="flex flex-col gap-4.5">
            <p class="font-semibold">Payment Method</p>

            <div class="flex w-full gap-3">
              <label
                class="flex items-center group has-checked:bg-primary border border-primary gap-2 rounded-2xl py-4.5 px-7 font-normal w-full hover:cursor-pointer"
                id="cash"
              >
                <input
                  type="radio"
                  name="payment_method"
                  id="cash"
                  class="w-5 h-5 hidden"
                  value="cash"
                />
                <span
                  class="h-5 w-5 flex items-center justify-center rounded-full group-has-checked:border-white border-2 border-primary"
                >
                  <span
                    class="h-3 w-3 rounded-full group-has-checked:bg-white inline-block"
                  ></span>
                </span>
                <p
                  class="font-semibold text-primary group-has-checked:text-white"
                >
                  Cash
                </p>
              </label>

              <label
                class="flex items-center group has-checked:bg-primary border border-primary gap-2 rounded-2xl py-4.5 px-7 font-normal w-full hover:cursor-pointer"
                id="midtrans"
              >
                <input
                  type="radio"
                  name="payment_method"
                  id="midtrans"
                  class="w-5 h-5 hidden"
                  value="midtrans"
                />
                <span
                  class="h-5 w-5 flex items-center justify-center rounded-full group-has-checked:border-white border-2 border-primary"
                >
                  <span
                    class="h-3 w-3 rounded-full group-has-checked:bg-white inline-block"
                  ></span>
                </span>
                <p
                  class="font-semibold text-primary group-has-checked:text-white"
                >
                  Midtrans
                </p>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div
        class="fixed inset-x-0 bottom-0 max-w-160 z-50 bg-white shadow-sm mx-auto"
      >
        <div class="flex items-center justify-between p-5">
          <div class="flex flex-col gap-2">
            <p class="text-muted-foreground font-normal text-sm">Total Price</p>
            <p class="font-semibold text-[18px]" id="totalAmount">Rp 0</p>
          </div>

          <Button type="submit" className="font-normal py-5 px-10 rounded-full">
            Payment
          </Button>
        </div>
      </div>
    </form>
  </Container>
</BlankLayout>
