---
import Container from "@/components/astro/container.astro";
import BlankLayout from "@/layouts/blank-layout.astro";
import { Button } from "@workspace/ui/components/button";
import { ArrowLeft, CircleCheck, Star, ThumbsUp } from "lucide-react";
---

<BlankLayout class="pb-24">
  <Container slot={"main"}>
    <header class="relative">
      <div
        id="TopNavAbsolute"
        class="absolute top-0 left-0 right-0 flex items-center justify-between w-full px-5 py-3 z-10 bg-linear-to-b from-black/80 to-transparent"
      >
        <a
          href="/"
          class="w-12 h-12 flex items-center justify-center shrink-0 rounded-full overflow-hidden bg-white/10"
        >
          <ArrowLeft className="size-6 stroke-white" />
        </a>
        <p class="font-semibold text-white">Details</p>
        <Button
          className="w-12 h-12 flex items-center justify-center shrink-0 rounded-full overflow-hidden bg-white/10"
        >
          <ThumbsUp className="size-6" />
        </Button>
      </div>
    </header>
    <div id="Image" class="relative w-full -mb-9.5">
      <div class="overflow-hidden">
        <img
          src="https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/Delicious%20Ramen%20Bowl.png"
          alt=""
          class="w-full object-cover h-125 overflow-hidden"
        />
      </div>

      <div
        class="absolute bottom-20 right-5 flex items-center gap-1 bg-white/10 px-2 py-1 rounded-full"
      >
        <Star className="fill-primary stroke-primary size-4" />
        <p class="text-white text-sm">4.8</p>
      </div>
    </div>
    <div
      class="flex flex-col w-full px-5 py-5 gap-5 bg-white rounded-t-3xl shadow-sm -mt-5 z-10"
    >
      <div id="Title">
        <p class="text-secondary font-normal text-xs">Ramen</p>
        <h1 class="text-2xl font-semibold">Miso Ramen</h1>
        <p class="text-muted-foreground font-normal text-sm">
          Rich miso-based broth with a savory flavor, topped with corn, minced
          meat, and green onions.
        </p>
      </div>
      <div id="Ingredients">
        <h2 class="font-medium mb-3">Ingredients used</h2>
        <div class="grid grid-cols-2 gap-3">
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
          <div class="flex items-center gap-2">
            <CircleCheck className="stroke-white fill-primary" />
            <span class="text-sm text-muted-foreground">Ramen noodles</span>
          </div>
        </div>
      </div>
      <div id="Reviews">
        <h2 class="font-medium mb-3">Customer Reviews</h2>

        <div class="swiper w-full">
          <div class="swiper-wrapper">
            <div class="swiper-slide w-fit!">
              <div
                class="flex flex-col gap-3 w-[320px] border border-gray-200 hover:border-secondary hover:bg-primary-slate hover:cursor-pointer rounded-xl p-4"
              >
                <div class="flex items-center justify-between gap-3">
                  <h3 class="text-accent-foreground font-medium text-sm">
                    Muhamad Rafli
                  </h3>

                  <div class="flex items-center gap-1">
                    <img
                      src="assets/images/icons/ic_star.svg"
                      alt="rating"
                      class="w-4 h-4"
                    />
                    <img
                      src="assets/images/icons/ic_star.svg"
                      alt="rating"
                      class="w-4 h-4"
                    />
                    <img
                      src="assets/images/icons/ic_star.svg"
                      alt="rating"
                      class="w-4 h-4"
                    />
                    <img
                      src="assets/images/icons/ic_star.svg"
                      alt="rating"
                      class="w-4 h-4"
                    />
                    <img
                      src="assets/images/icons/ic_star.svg"
                      alt="rating"
                      class="w-4 h-4"
                    />
                  </div>
                </div>

                <p class="text-muted-foreground font-normal text-sm">
                  The noodles were cooked just right, and the toppings were
                  fresh and generous. Definitely coming back for more
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Container
      class="fixed inset-x-0 bottom-0 max-w-160 z-50 bg-white shadow-sm mx-auto"
    >
      <div class="flex items-center justify-between p-5">
        <div class="flex flex-col gap-2">
          <p class="text-muted-foreground font-normal text-sm">Menu Price</p>
          <p class="font-semibold text-lg">Rp 40.0000</p>
        </div>

        <button
          type="button"
          class="flex justify-center rounded-full py-3.5 px-7 bg-primary font-normal text-white"
          data-id="1"
        >
          Add To Cart
        </button>
      </div>
    </Container>
  </Container>
</BlankLayout>
