---
import NavigationLayout from "../layouts/navigation-layout.astro";
import Container from "@/components/astro/container.astro";
import Section from "@/components/astro/section.astro";
import { CategoryCarousel } from "@/views/category/components/react/category-carousel";
import { ProductCarousel } from "@/views/product/components/react/product-carousel";
import ProductCardHorizontal from "@/views/product/components/astro/product-card-horizontal.astro";
import { Bell, Search } from "lucide-react";

const response = {
  data: {
    store: {
      id: "1",
      name: "Ramenku Majalengka",
    },
    categories: [
      {
        id: "1",
        name: "All Menu",
        slug: "",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/all-menu.png",
      },
      {
        id: "2",
        name: "Desert",
        slug: "desert",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/desert.png",
      },
      {
        id: "2",
        name: "Drink",
        slug: "drink",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/drink.png",
      },
      {
        id: "2",
        name: "Ramen",
        slug: "ramen",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/ramen.png",
      },
      {
        id: "2",
        name: "Chicken",
        slug: "chicken",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/chicken.png",
      },
    ],
    productFavorites: [
      {
        id: "1",
        store_id: "2",
        name: "Spicy Ramen Level 3",
        description: "Rich broth, spicy and tempting, with chashu topping",
        price: 45000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/ramen.png",
        category: {
          id: "2",
          name: "Ramen",
          image: "",
          slug: "",
        },
      },
      {
        id: "2",
        store_id: "2",
        name: "Chicken Karaage",
        description: "Crispy Japanese-style fried chicken, served with a tangy",
        price: 48000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/Fried%20Chicken%20High%20Angle%20Shot.png",
        category: {
          id: "2",
          name: "Chicken",
          image: "",
          slug: "",
        },
      },
    ],
    productRecommendations: [
      {
        id: "1",
        store_id: "2",
        name: "Spicy Ramen Level 3",
        description: "Rich broth, spicy and tempting, with chashu topping",
        price: 45000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/ramen.png",
        category: {
          id: "2",
          name: "Ramen",
          image: "",
          slug: "",
        },
      },
      {
        id: "1",
        store_id: "2",
        name: "Spicy Ramen Level 3",
        description: "Rich broth, spicy and tempting, with chashu topping",
        price: 45000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/ramen.png",
        category: {
          id: "2",
          name: "Ramen",
          image: "",
          slug: "",
        },
      },
    ],
  },
};
---

<NavigationLayout>
  <Container class="min-h-fit h-42.5 pb-5" slot="header"
    ><header class="relative">
      <div
        id="Background"
        class="absolute top-0 w-full h-42.5 rounded-b-[45px] bg-primary-gradient"
      >
      </div>
      <div id="TopNav" class="relative flex flex-col px-5 mt-5 h-42.5">
        <div class="relative flex items-center justify-between">
          <div class="flex flex-col gap-1">
            <p class="text-white text-sm">Welcome To,</p>
            <h1 class="text-white font-semibold">{response.data.store.name}</h1>
          </div>
          <a
            href="#"
            class="w-12 h-12 flex items-center justify-center shrink-0 rounded-full overflow-hidden bg-white/20"
          >
            <Bell className="w-7 h-7" fill="#fff" stroke="#fff" />
          </a>
        </div>

        <h1 class="text-white font-semibold text-2xl leading-7.5 mt-5">
          Order Delicious Meal!
        </h1>

        <div class="absolute bottom-0 left-0 right-0 w-full gap-2 px-5">
          <label
            class="flex items-center w-full rounded-full p-2 gap-3 bg-input ring-1 ring-ring focus-within:ring-yellow-500 transition-all duration-300"
          >
            <Search className="w-8 h-8 flex shrink-0 text-primary" />
            <input
              type="text"
              name="search"
              id=""
              class="appearance-none outline-none w-full font-semibold placeholder:text-ngekos-grey placeholder:font-light"
              placeholder="Search menu, or etc..."
            />
          </label>
        </div>
      </div>
    </header>
  </Container>
  <Container slot="main">
    <Section id="Category" title="Explore Categories" link="#">
      <CategoryCarousel
        client:load
        categories={response.data.categories}
        slot="content"
      />
    </Section>

    <Section id="Favorites" title="Menu Favorite" link="#">
      <ProductCarousel
        client:load
        products={response.data.productFavorites}
        slot="content"
      />
    </Section>

    <Section id="Recommendation" title="Chef's Recommendation" link="#">
      <div slot="content" class="flex flex-col gap-4 mt-2.5">
        {
          response.data.productRecommendations.map((product) => (
            <ProductCardHorizontal product={product} />
          ))
        }
      </div>
    </Section>
  </Container>
</NavigationLayout>
