---
import NavigationLayout from "../layouts/navigation-layout.astro";
import Container from "@/components/astro/container.astro";
import Section from "@/components/astro/section.astro";
import Header from "@/views/home/components/astro/header.astro";
import { CategoryCarousel } from "@/views/category/components/react/category-carousel";
import { ProductCarousel } from "@/views/product/components/react/product-carousel";
import ProductCardHorizontal from "@/views/product/components/astro/product-card-horizontal.astro";

const response = {
  data: {
    store: {
      id: "1",
      name: "Ramenku Majalengka",
    },
    categories: [
      {
        id: "1",
        name: "All Menu",
        slug: "",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/all-menu.png",
      },
      {
        id: "2",
        name: "Desert",
        slug: "desert",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/desert.png",
      },
      {
        id: "2",
        name: "Drink",
        slug: "drink",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/drink.png",
      },
      {
        id: "2",
        name: "Ramen",
        slug: "ramen",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/ramen.png",
      },
      {
        id: "2",
        name: "Chicken",
        slug: "chicken",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/icons/chicken.png",
      },
    ],
    productFavorites: [
      {
        id: "1",
        store_id: "2",
        name: "Spicy Ramen Level 3",
        description: "Rich broth, spicy and tempting, with chashu topping",
        price: 45000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/ramen.png",
        category: {
          id: "2",
          name: "Ramen",
          image: "",
          slug: "",
        },
      },
      {
        id: "2",
        store_id: "2",
        name: "Chicken Karaage",
        description: "Crispy Japanese-style fried chicken, served with a tangy",
        price: 48000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/Fried%20Chicken%20High%20Angle%20Shot.png",
        category: {
          id: "2",
          name: "Chicken",
          image: "",
          slug: "",
        },
      },
    ],
    productRecommendations: [
      {
        id: "1",
        store_id: "2",
        name: "Spicy Ramen Level 3",
        description: "Rich broth, spicy and tempting, with chashu topping",
        price: 45000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/ramen.png",
        category: {
          id: "2",
          name: "Ramen",
          image: "",
          slug: "",
        },
      },
      {
        id: "1",
        store_id: "2",
        name: "Spicy Ramen Level 3",
        description: "Rich broth, spicy and tempting, with chashu topping",
        price: 45000,
        slug: "spicy-ramen-level-3",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/ramen.png",
        category: {
          id: "2",
          name: "Ramen",
          image: "",
          slug: "",
        },
      },
    ],
  },
};
---

<NavigationLayout>
  <Container class="min-h-fit h-42.5 pb-5" slot="header">
    <Header storeName={response.data.store.name} />
  </Container>
  <Container slot="main">
    <Section id="Category" title="Explore Categories" link="#">
      <CategoryCarousel
        client:load
        categories={response.data.categories}
        slot="content"
      />
    </Section>

    <Section id="Favorites" title="Menu Favorite" link="#">
      <ProductCarousel
        client:load
        products={response.data.productFavorites}
        slot="content"
      />
    </Section>

    <Section id="Recommendation" title="Chef's Recommendation" link="#">
      <div slot="content" class="flex flex-col gap-4 mt-2.5">
        {
          response.data.productRecommendations.map((product) => (
            <ProductCardHorizontal product={product} />
          ))
        }
      </div>
    </Section>
  </Container>
</NavigationLayout>
