---
import "@workspace/ui/globals.css"
import Layout from '../layouts/Layout.astro';
import { Button } from '@workspace/ui/components/button'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Button variant={'danger'}>Dian Erdiana</Button>
	<h1 class="text-purple-700 font-black text-6xl">
		Hallo nama saya Dian Erdiana!
	</h1>
	<p class="text-indigo-700 text-3xl">
		Apakah kamu sudah makan?
	</p>
</Layout>
