---
import Container from "@/components/astro/container.astro";
import BlankLayout from "@/layouts/blank-layout.astro";
import { Check, ListCheck } from "lucide-react";
---

<BlankLayout class="pb-0">
  <Container slot={"main"}>
    <div class="flex flex-col min-h-screen justify-center px-5 gap-y-4">
      <div id="Success" class="relative flex flex-col gap-y-4">
        <div
          class="w-full flex flex-col rounded-xl border border-background p-5 gap-6 bg-white mt-6"
        >
          <div class="flex flex-col items-center gap-2">
            <div class="bg-success-slate rounded-full p-3">
              <div
                class="bg-success rounded-full p-3 flex items-center justify-center"
              >
                <Check className="size-8 stroke-white" />
              </div>
            </div>
          </div>
          <p class="text-3xl font-medium text-center">
            Successful Transaction <br /> Show this to the cashier
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <p class="font-semibold">Order Details</p>
          <div class="flex flex-col gap-4">
            <div
              class="cart-item flex items-center rounded-xl border border-background p-3 gap-4 bg-white hover:bg-primary/20 hover:border hover:border-secondary transition-all duration-300"
            >
              <div class="overflow-hidden w-32 h-22">
                <img
                  src="https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/Delicious%20Ramen%20Bowl.png?updatedAt=1765852917286"
                  class="w-full h-full object-cover object-center rounded-xl aspect-auto"
                  alt="icon"
                />
              </div>
              <div class="flex flex-col gap-1 w-full">
                <p class="text-secondary font-normal text-xs">Ramen</p>
                <h3 class="text-accent-foreground font-medium text-sm">
                  Spicy Ramen Level 3
                </h3>

                <div class="flex items-center justify-between">
                  <p class="text-destructive font-semibold text-sm">
                    Rp 45.000
                  </p>
                </div>
              </div>
              <span id="qty">x1</span>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <div
              class="cart-item flex items-center rounded-xl border border-background p-3 gap-4 bg-white hover:bg-primary/20 hover:border hover:border-secondary transition-all duration-300"
            >
              <div class="overflow-hidden w-32 h-22">
                <img
                  src="https://ik.imagekit.io/dianerdiana/saas-food-menu/photos/Delicious%20Ramen%20Bowl.png?updatedAt=1765852917286"
                  class="w-full h-full object-cover object-center rounded-xl aspect-auto"
                  alt="icon"
                />
              </div>
              <div class="flex flex-col gap-1 w-full">
                <p class="text-secondary font-normal text-xs">Ramen</p>
                <h3 class="text-accent-foreground font-medium text-sm">
                  Spicy Ramen Level 3
                </h3>

                <div class="flex items-center justify-between">
                  <p class="text-destructive font-semibold text-sm">
                    Rp 45.000
                  </p>
                </div>
              </div>
              <span id="qty">x1</span>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p class="font-semibold">Your Code Order</p>
          <label
            class="flex items-center w-full rounded-xl py-3.5 px-5 gap-3 bg-white ring-1 ring-primary/5 focus-within:ring-secondary focus-within:ring-opacity-100 transition-all duration-300"
          >
            <div class="bg-primary/30 p-1 rounded">
              <ListCheck className="stroke-primary" />
            </div>
            <input
              type="text"
              name="code"
              id=""
              class="appearance-none outline-none w-full font-semibold placeholder:font-light"
              value="TRX2019213"
            />
          </label>
        </div>
      </div>
      <a
        href="/"
        class="flex justify-center rounded-full py-3.5 px-5 bg-primary font-normal text-white"
      >
        See More Menu
      </a>
    </div>
  </Container>
</BlankLayout>
