---
import "@workspace/ui/globals.css";
import { cn } from "@workspace/ui/lib/utils";
import { House, Search, ShoppingCart, User } from "lucide-react";

const pathname = Astro.url.pathname;

const navigation = [
  {
    id: "1",
    name: "Home",
    icon: House,
    href: "/",
  },
  {
    id: "2",
    name: "Cart",
    icon: ShoppingCart,
    href: "/cart",
    count: 6,
  },
  {
    id: "3",
    name: "Search",
    icon: Search,
    href: "/search",
  },
  {
    id: "4",
    name: "Profile",
    icon: User,
    href: "/profile",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="pb-40">
      <slot name="header" />
      <slot name="main" />
    </div>
    <!-- navigation bottom -->
    <div
      class="fixed inset-x-0 bottom-0 max-w-160 z-50 bg-white shadow-sm mx-auto"
    >
      <div class="flex items-center justify-between px-8 py-4">
        {
          navigation.map((nav) => (
            <a
              href={nav.href}
              class={cn(
                "flex flex-col items-center gap-2",
                nav.href === pathname && "text-primary",
              )}
            >
              <div class="relative">
                <nav.icon
                  className={
                    nav.href === pathname
                      ? "stroke-primary fill-primary"
                      : "stroke-muted-foreground"
                  }
                />
                {nav.count ? (
                  <div class="absolute -top-1 -right-2 flex items-center justify-center w-4 h-4 rounded-full bg-primary border border-white">
                    <p
                      class="text-white font-normal text-[10px]"
                      id="cart-count"
                    >
                      {nav.count}
                    </p>
                  </div>
                ) : (
                  ""
                )}
              </div>
              <p class="font-normal text-xs">{nav.name}</p>
            </a>
          ))
        }
      </div>
    </div>
  </body>
</html>
